@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
.bar{
  display: block;
  height: 5px;
  width: 50px;
  margin: 10px auto;
  background-color: orange;
}
.bar{
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.buttom{
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
}
.menu-left{
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 4;
}
.buttom-active .bar {
  background-color: white;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.buttom-active .top{
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform:translateY(15px) rotateZ(45deg);
  transform:translateY(15px) rotateZ(45deg);
}
.buttom-active .meio{
  width: 0;
}
.buttom-active .bottom{
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform:translateY(-15px) rotateZ(-45deg);
  transform:translateY(-15px) rotateZ(-45deg);
}
.menu{
  width: 200px;
  transform: translate3d(-200px,0,0);
  opacity: 0;
  top: 0;
  transition: .3s;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  z-index: 3;
  position: fixed;
  height: 100vh;
  background-color: orange;
}
.menu-action{
  width: 200px;
  transform: translate3d(0,0,0);
  transition: .3s;
  opacity: 1;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: orange;
}
.menu-list{
  width: 200px;
  position: relative;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.menu-item{
  margin: 30px auto;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform:translateY(-20px);
  transform:translateY(-20px);
}
.menu-item a:hover{
  text-decoration: none;
  color: white;
}
.link-item{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  position: relative;
  margin-bottom: 7px;
}
.link-item::before{
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
.link-item:hover:before{
  width: 100%;

}
.menu-item:first-child{
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out
}
.menu-item:nth-child(2){
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out
}
.menu-item:last-child{
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out
}

.item-action{
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px);
}
/*inicio do conteudo*/
.inicio{
  height: 100vh;
  z-index: 2;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.cont-inicio{
  height: auto;

}
/*fim do conteudo1*/
/*fim do contudo total*/
@media screen and (max-width: 600px){
  .bar{
    background-color: white;
  }
  .menu{
    width:100%;
    transform: translate3d(-100%,0,0);
    opacity: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    transition: .3s;
    left: 0;
    z-index: 3;
    height: 100vh;
    background-color: orange;
  }
  .menu-action{
    width: 100%;
    transform: translate3d(0,0,0);
    transition: .3s;
    opacity: 1;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: orange;
  }
  .menu-list{
    width:100%;
    position: relative;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  /*inicio do conteudo*/
  .inicio{
    height: 100vh;
    z-index: 2;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: center;
    align-content: center;
  }
  .cont-inicio{
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contudo1{

  }
  /*fim do conteudo1*/
  /*fim do contudo total*/
}
